<div class="container py-5 ar   ">
    <div class="row tap  ">
        <div class="col-lg-6 mx-auto ">
            <div class="   p-5 show1 ">
                <div class="alert alert1 text-center alert-secondary1 alert-secondary mb-4 ">
                    <strong> {{'Customer Data'|translate}}</strong>
                </div>
                
                <hr class="mb-6">
                <button (click)="GoToList()" id="rmz" style="border:none "
                    class="fa fa-arrow-right fa-2x mb-3 rounded-pill shadow-sm"></button>

                <div class="tab-content">
                    <div class="tab-pane fade show  active form-row ">
                        <form [formGroup]="customerForm" (ngSubmit)="Addcustmer()">
                            <div class="form-row form-group">
                                <div class="col-md-4 form-group " id="inp2">
                             <div class="col-lg-12"> 
                                <label  >  {{'Name Ar'|translate}}</label>
                                <span class="text-danger">*</span>
                             </div>
                                    <input type="text " class="form-control classm Shadow" readonly
                                        formControlName="customer_aname" 
                                   
                                        [ngClass]="{'is-invalid': this.customerForm.get('customer_aname').invalid && this.customerForm.get('customer_aname').touched}">

                                    <div class="text-danger" style="width:180px" *ngIf="this.customerForm.get('customer_aname').invalid && this.customerForm.get('customer_aname').touched
                               && this.customerForm.get('customer_aname').value==='' ">
                                        {{messageValidate.customer_aname.required}}
                                    </div>
                                    
                                </div>
                                <div class="col-md-4  form-group  ">
                                 <div class="col-lg-12 lagstyle" >
                                    <label>  {{'Name En'|translate}}     </label>
                                    <span class="text-danger">*</span>
                                 </div>
                                    <input type="text " class="form-control classm1" readonly
                                        formControlName="customernameEn" id="customernameEn"
                                  
                                        [ngClass]="{'is-invalid': this.customerForm.get('customernameEn').invalid && this.customerForm.get('customernameEn').touched}">

                                 
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="doctorNationality" style="font-weight: bold;">العنوان :</label> -->
                                <label>  {{'National Address'|translate}}  </label>
                                    <span class="text-danger">*</span>
                                <input type="text " class="form-control"  formControlName="address" id="address" readonly
                                                                                
                                
                                    [ngClass]="{'is-invalid': this.customerForm.get('address').invalid && this.customerForm.get('address').touched}">

                               
                            </div>
                            <div class="form-group">
                                <label>  {{'phone'|translate}}    </label>
                                <span class="text-danger">*</span>
                                <!-- <label for="doctorNationality" style="font-weight: bold;">العنوان :</label> -->
                                <input type="phone" class="form-control"  formControlName="mobile" id="mobile" readonly
                                                            
                                    pattern="[0-9]{10}"
                                    [ngClass]="{'is-invalid': this.customerForm.get('mobile').invalid && this.customerForm.get('mobile').touched}">
                                        <div class="text-danger" *ngIf="this.customerForm.get('mobile').invalid && this.customerForm.get('mobile').touched
                                       && this.customerForm.get('mobile').value==='' ">
                                    {{messageValidate.mobile.required}}
                                   
                                </div>
                               
                            </div>
                            <div class="form-group">
                                <label>  {{'National country'|translate}}      </label>
                                <span class="text-danger">*</span>
                                <!-- <label for="doctorQualifa" style="font-weight: bold;"> البريد الالكتروني :</label> -->
                                <input type="text" maxLength="16" #text5 class="form-control" formControlName="country" readonly
                                    id="country"
                                    [ngClass]="{'is-invalid': this.customerForm.get('country').invalid && this.customerForm.get('country').touched}">

                               
                            </div>
                            <div class="form-group">
                                <label> {{'National Number'|translate}}    </label>
                                <span class="text-danger">*</span>
                                <!-- <label for="doctorQualifa" style="font-weight: bold;"> البريد الالكتروني :</label> -->
                                <input type="phone"  class="form-control" formControlName="customer_taxid" readonly
                                    id="customer_taxid"   pattern="[0-9]{15}"
                                    [ngClass]="{'is-invalid': this.customerForm.get('customer_taxid').invalid && this.customerForm.get('customer_taxid').touched}">

                               
                               
                            </div>
                            
                            
                            <button type="submit" (click)="DeleteConfirm()" style="text-align:center ;"
                                class="subscribe rounded-pill btn btn-primary btn-block rounded-pill shadow-sm mt-4"
                                >{{btnTitle}}
                                <img *ngIf="isloading" src="/assets/image/op.gif" alt=""
                                    style="background-color: rgb(16, 151, 151);">
                            </button>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>