@media print {

    #cont,
    #cont {
        display: block;
    }

    #fas1,#fas1{
        display: none;
    }

    #pr1,
    #pr1 {
        display: none;
    }
}

@media (max-width: 412px) {
    .hist {
    display: none;
  
    }
    #cont{
        margin-top: -20px;
    }
  #tbl{
    margin-top: -24px;
  }
}

.cards{
   margin-bottom: 10px;
    }

    mat-toolbar{
        font-family: 'droidKufi-bold', sans-serif;
      }
      div{
        .ngx-spinner img {
            width: 100px;
            height: 100px;
          }
      }
      
      