<div class="cards" style="text-align: right;">
  <mat-toolbar style="margin-top: 5%;" color="primary">{{'Invoice list'|translate}}</mat-toolbar>


</div>

  <dx-data-grid 
  [dataSource]="Invoiceheader"
  keyExpr="customer_id"
  [focusedRowEnabled]="true"
  [allowColumnResizing]="true"
  id="gridContainer"
  [columnAutoWidth]="true"
  (onExporting)="onExporting($event)"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [rtlEnabled]="rtlEnabled">
  <dxo-toolbar class="grid-buttons">
    <dxi-item location="before" >
      <div *dxTemplate>
        <dx-button icon="refresh" (onClick)="refreshDataGrid()" hint="{{'refreshButton' | translate}}"></dx-button>
        <dx-button icon="chevronup" (onClick)="zoomIn()" hint="{{'zoomIn' | translate}}"></dx-button>
        <dx-button icon="chevrondown" (onClick)="zoomOut()" hint="{{'zoomOut' | translate}}"></dx-button>
      </div>
    </dxi-item>
    <dxi-item name="exportButton"></dxi-item>
    <dxi-item name="columnChooserButton"></dxi-item>
    <dxi-item name="groupPanel"></dxi-item>
  </dxo-toolbar>
  
  <dxi-column dataField="invoice_no" [caption]="formatMessage('invoiceNo')" dataType="number"> </dxi-column>
  <dxi-column dataField="customer.customer_aname" [caption]="formatMessage('customer_aname')"   dataType="string"> </dxi-column>
  <dxi-column dataType="date" dataField="invoice_date" [caption]="formatMessage('invoice_date')">
  </dxi-column> 
  
  <dxi-column dataField="amount_before_tax" [caption]="formatMessage('amount_before_tax')" dataType="string" > 
  </dxi-column>
  <dxi-column dataField="tax_amount" [caption]="formatMessage('tax_amount')" dataType="number"> </dxi-column>
  <dxi-column dataField="total_amount" [caption]="formatMessage('total_amount')"   dataType="number"> </dxi-column>

  <!-- <dxi-column dataField="invoice_name.ar" [caption]="formatMessage('invoice_name')" dataType="string"> </dxi-column> -->
  <dxi-column dataField="invioce_state" [caption]="formatMessage('invoice_acceptance')" dataType="string" > 
  </dxi-column>
  
  <dxi-column dataField="localUser.user_name" [caption]="formatMessage('user_name')"  dataType="string"> </dxi-column>
  <dxi-column dataField="invioce_types" [caption]="formatMessage('invoice_type')"  dataType="string"> </dxi-column>
  <dxi-column dataField="paid_amount" [caption]="formatMessage('paid_amount')" dataType="number" > </dxi-column>


  <dxo-column-chooser  #columnChooser [enabled]="true" mode="select" >
    <dxo-search [enabled]="true" [editorOptions]="true"></dxo-search>
    <dxo-selection [allowSelectAll]="true" [selectByClick]="true" [recursive]="true"></dxo-selection>
  </dxo-column-chooser>
  
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

  <dxo-selection mode="single"></dxo-selection>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="[10, 50, 100, 'all']"
      [displayMode]="'full'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-export [enabled]="true" [formats]="['pdf','xlsx']" [allowExportSelectedData]="false" fileName="countries" ></dxo-export>
    <dxo-sorting mode="multiple"></dxo-sorting>
</dx-data-grid>
