<div class="alert alert-primary" role="alert"  [dir]="'dir'|translate">
    <strong> {{'List of reports invoice of a specific customer '|translate}}</strong>
  </div>
<div class="doctor-view" [dir]="'dir'|translate"  id="cont">

    <!-- <nav class="navbar input-group mb-3">
        <span class=" input-group-text" style="height:40px ;"> <i class="fa fa-search fs-5 text-primary"></i></span>
        <input class="form-control " type="text" name="customer_aname" placeholder="{{'Search here'|translate}} " id=""
            [(ngModel)]="customer_aname" (ngModelChange)="sertch()">
    </nav> -->

    <table id="tbl" datatable  class="table  rounded table-hover table-striped mb-3 table-bordered" >
        <thead>
            <tr class="bg-dark text-warning">

                <th> {{'customer name'|translate}}</th>
                <th>
                    {{'customer_address'|translate}}
                </th>
                <th class="hist"> {{'history'|translate}}</th>
                <th>{{'Amount'|translate}}</th>
                <th>  {{'invoice state'|translate}}</th>
                <th> {{'type'|translate}}</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of invoice">

                <td>{{item.customer.customer_aname}}</td>
                <td>{{item.customer.customer_address }}</td>
                <td class="hist">{{item.invoice_date |date : "dd.MM.y"}}</td>
                <td>{{item.total_amount}}</td>
        

                <td>
                    <div class="table-light">

                        <div>
                <td *ngIf="item.invoice_acceptance===0" style="background-color: rgb(126, 187, 135);"
                    class="rounded-pill shadow-sm">  {{'unapproved'|translate}}  </td>
             </div>
               <div>
    <td *ngIf="item.invoice_acceptance===1" class="rounded-pill shadow-sm" style="background-color: rgb(225, 241, 227);"
        class="rounded-pill shadow-sm">  {{'approved'|translate}}  </td>
            </div>
                </div>

            </td>
              <td>{{item.invoice_name.ar}} </td>
<!-- <td>{{item.doctorPicure}}</td> -->



</tr>

</tbody>
</table>


</div>



<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تنبيه حذف</h5>
            </div>
            <div class="modal-body">
                هل تريد حذف {{num}} فعلا؟؟
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">تراجع</button>
                <button type="button" class="btn btn-danger" (click)="DeleteConfirm()">تأكيد الحذف</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="storedata.length<1">
<div class="alert alert-primary">
    <strong>لا توجد بيانات   </strong>
<!-- <button class="btn" (click)="getInvice()">تحديث القائمة</button> -->
</div>
</div>