

    <!-- <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="/assets/images/logo.png" class="brand_logo" alt="Logo">
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form [formGroup]="loginForm" (ngSubmit)="submit1()">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" formControlName="user_name"  class="form-control input_user" value="" placeholder="username"
                [ngClass]="{
                  'is-invalid':
                    this.loginForm.get('user_name').invalid &&
                    this.loginForm.get('user_name').touched
                }">
                <div class="text-danger"
                *ngIf="this.loginForm.get('user_name')?.invalid && this.loginForm.get('user_name')?.touched">
                <div class="text-danger" *ngIf="this.loginForm.get('user_name')?.errors">
                  {{'User_name is required'|translate}}
                </div>
              </div>
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password"  class="form-control input_pass" value="" placeholder="password"
                formControlName="password" [ngClass]="{
                  'is-invalid':
                    this.loginForm.get('password').invalid &&
                    this.loginForm.get('password').touched
                                            }" 
                                            >
                                            
                                            <div class="text-danger" *ngIf="
                                            this.loginForm.get('password').invalid &&
                                            this.loginForm.get('password').touched
                                                                        ">
                                                  <div *ngIf="this.loginForm.get('password')?.errors">
                                                    {{'Password required'|translate}}
                                                  </div>
                                          
                                                </div>
              </div>
            
                <div class="d-flex justify-content-center mt-3 login_container">
             <input type="submit" name="button" class="btn login_btn" value="{{'login'|translate}}">
             
            </div>
              <mat-progress-bar mode="indeterminate"*ngIf="isloading" style="margin-top: 40px;"></mat-progress-bar>
          
            </form>
          </div>
      
          <div class="mt-4">
           
            
          </div>
        </div>
      </div>
    </div> -->






  <mat-card style="margin-top: 10%;">
    <mat-card-content>
      <div class="header">
        <div class="brand_logo_container">
          <img src="/assets/images/logo.png" class="brand_logo" width="100px" height="100px" alt="Logo">
        </div>
      </div>
      <form (ngSubmit)="submit1()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>user_name</mat-label>
            <input
              formControlName="user_name"
              matInput
              placeholder="Enter user_name " required
              [ngClass]="{
                'is-invalid':
                  this.loginForm.get('user_name').invalid &&
                  this.loginForm.get('user_name').touched
              }" />
            <mat-error *ngIf="!loginForm.controls['user_name'].valid">
              {{'User_name is required'|translate}}
              </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password':'text'"  formControlName="password" matInput  autocomplete="off" 
            />
            <button  mat-icon-button   matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
          {{'Password required'|translate}}
          </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button color="primary">{{'login'|translate}}</button>
      </form>
  
      <mat-progress-bar mode="indeterminate"*ngIf="isloading" style="margin-top: 40px;"></mat-progress-bar>
    </mat-card-content>
  </mat-card>