
<div class="cards" style="text-align: right;">

 <mat-toolbar style="margin-top: 5%;" color="primary">{{'Payment list'|translate}}</mat-toolbar>

</div>

  <div >
    <dx-data-grid id="gridContainer"
    keyExpr="customer_id"
    [dataSource]="Invoiceheader"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    (onExporting)="onExporting($event)"
    [showColumnLines]="true"
    [showRowLines]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [rtlEnabled]="true"
    
    >
    <dxo-toolbar class="grid-buttons">
      <dxi-item location="before" >
        <div *dxTemplate>
          <dx-button icon="plus" (onClick)="addpaymont()" hint="{{'addButton' | translate}}"  id="addNew"> </dx-button>
          <dx-button icon="refresh" (onClick)="refreshDataGrid()" hint="{{'refreshButton' | translate}}"></dx-button>
          <dx-button icon="chevronup" (onClick)="zoomIn()" hint="{{'zoomIn' | translate}}"></dx-button>
          <dx-button icon="chevrondown" (onClick)="zoomOut()" hint="{{'zoomOut' | translate}}"></dx-button>
        </div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item name="columnChooserButton"></dxi-item>
      <dxi-item name="groupPanel"></dxi-item>
    </dxo-toolbar>
    

    <dxi-column dataField="customer_aname"  [caption]="formatMessage('customer_aname')" > </dxi-column>
      <dxi-column dataField="customer_ename"  [caption]="formatMessage('customer_ename')" > </dxi-column>
      <dxi-column type="buttons">
        <dxi-button  hint="{{'update'|translate}}" icon="edit"           [onClick]="Editcustomer" ></dxi-button>
        <dxi-button   hint="{{'delete'|translate}}"  icon="trash"      [onClick]="Deletepaymont" ></dxi-button>
    
      </dxi-column>
      <dxo-column-chooser  #columnChooser [enabled]="true" mode="select" >
        <dxo-search [enabled]="true" [editorOptions]="true"></dxo-search>
        <dxo-selection [allowSelectAll]="true" [selectByClick]="true" [recursive]="true"></dxo-selection>
      </dxo-column-chooser>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="[10, 50, 100, 'all']"
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-export [enabled]="true" [formats]="['pdf','xlsx']" [allowExportSelectedData]="false" fileName="countries" ></dxo-export>
        <dxo-sorting mode="multiple"></dxo-sorting>
    </dx-data-grid>
  


 