<div class="container tap">
    <div style="text-align:center">
      <h2>للتواصل</h2>
     
    </div>
    <div class="row">
      <div class="column">
        <img src="/assets/image/im6.png" style="width:100%">
        <p>البريد الالكتروني</p>
      <p style="background-color:rgb(212, 156, 83) ;">web@al-waseet.com.sa  </p>
    <div>
        <p> هاتف</p>
        <p style="background-color:rgb(212, 156, 83) ;">+966-13-8300025 </p> 
    </div>
    <div>
        <p> العنوان</p>
        <p style="background-color:rgb(212, 156, 83) ;">الدمام, شارع الملك سعود </p> 
    </div>
      </div>
     
    </div>
  </div>