
<mat-toolbar style="margin-top: 5%;" color="primary">{{'Customer Data'|translate}}</mat-toolbar>
<app-display-errors [errors]="errors"></app-display-errors>
<form action="" [formGroup]="customerForm" (ngSubmit)="Addcustmer()">
    <mat-grid-list cols="3" rowHeight="120px" class="quot-service-grid">
        <mat-grid-tile>
            <mat-form-field appearance="outline" class="ml-2">
                <mat-label>{{'Name Ar'|translate}}</mat-label>
                <input matInput type="text " autofocus dir="rtl" formControlName="customer_aname" maxlength="70"
                    [ngClass]="{'is-invalid': this.customerForm.get('customer_aname')?.invalid && this.customerForm.get('customer_aname')?.touched}">
                <mat-error class="text-danger" *ngIf="this.customerForm.get('customer_aname').invalid && this.customerForm.get('customer_aname').touched
            && this.customerForm.get('customer_aname')?.value==='' ">
                    {{'Customer name is required.'|translate}}</mat-error>
                <md-error class="text-danger" *ngIf="isUserNameExist()">

                    {{'The customer name already exists.'|translate}}

                </md-error>
            </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline" class=" ml-2">
                <mat-label> {{'Name En'|translate}}</mat-label>
                <input matInput dir="ltr" formControlName="customernameEn" id="customernameEn" maxlength="30"
                    [ngClass]="{'is-invalid': this.customerForm.get('customernameEn')?.invalid && this.customerForm.get('customernameEn')?.touched}">
                <mat-error class="text-danger" *ngIf="this.customerForm.get('customernameEn').invalid && this.customerForm.get('customernameEn').touched
                && this.customerForm.get('customernameEn')?.value==='' ">
                    {{'Customer name is required.'|translate}}</mat-error>


            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline" class="ml-2">
                <mat-label>{{'phone'|translate}}</mat-label>
                
                <input matInput type="tel" formControlName="mobile" id="mobile"
                    [ngClass]="{'is-invalid': this.customerForm.get('mobile').invalid && this.customerForm.get('mobile').touched}">
                <mat-error class="text-danger" *ngIf="this.customerForm.get('mobile').invalid && this.customerForm.get('mobile').touched
                                       && this.customerForm.get('mobile').value==='' && this.customerForm.get('mobile').hasError('required')">
                    {{'Phone number is required'|translate}}</mat-error>

                <mat-error class="text-danger" *ngIf="this.customerForm.get('mobile').value !== null && 
            this.customerForm.get('mobile').value !== '' && isUserphone()">

                    {{'The mobile number already exists'|translate}}

                </mat-error>
            </mat-form-field>

        </mat-grid-tile>


    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field appearance="outline" class="ml-2">
                <mat-label>{{'National Address'|translate}} </mat-label>
                <input matInput type="text " formControlName="address" id="address"
                    [ngClass]="{'is-invalid': this.customerForm.get('address').invalid && this.customerForm.get('address').touched}">
                <mat-error class="text-danger" *ngIf="this.customerForm.get('address').invalid && this.customerForm.get('address').touched
                && this.customerForm.get('address').value===''">

                    {{'Customer address is required.'|translate}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>

       



        <mat-grid-tile>
            <mat-form-field appearance="outline" class=" ml-2">
                <mat-label>{{'National country'|translate}}</mat-label>
                <!-- <mat-select formControlName="country"  (keyup)="onKey($event.target.value)">
                   
                    <mat-option *ngFor="let item of contryes"
                        [value]="this.currentLanguage == 'ar' ? item.arabic_name :item.english_name">
                        {{ this.currentLanguage == 'ar'? item.arabic_name:item.english_name }}
                    </mat-option>
                </mat-select> -->
                <mat-select formControlName="country" [dir]= "textDir">
                    
                    <mat-option>
                      <ngx-mat-select-search [formControl]="dropDownFilter" [placeholderLabel]="'search' | translate" [noEntriesFoundLabel]="'selectSearch' | translate"
                      (ngModelChange)="filterCities($event)"></ngx-mat-select-search>
                    </mat-option>
                    <ng-container *ngFor="let item of contryes; let i = index">
                      <mat-option  [value]="this.currentLanguage == 'ar' ? item.arabic_name :item.english_name">
                        {{ this.currentLanguage == 'ar'? item.arabic_name:item.english_name }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline" class="ml-2">
                <mat-label> {{'customer_city'|translate}}</mat-label>
                <input matInput type="text" formControlName="customer_city" id="customer_city">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile>
            <mat-form-field appearance="outline" class="mr-2">
                <mat-label>{{'National Number'|translate}} </mat-label>
                <input matInput type="tel" formControlName="customer_taxid" id="customer_taxid"
                    [ngClass]="{'is-invalid': this.customerForm.get('customer_taxid').invalid && this.customerForm.get('customer_taxid').touched}">

                <mat-error class="text-danger" *ngIf="this.customerForm.get('customer_taxid').invalid && this.customerForm.get('customer_taxid').touched
                && this.customerForm.get('customer_taxid').value==='' && this.customerForm.get('customer_taxid').hasError('required')">

                    {{'Tax number is required'|translate}}

                </mat-error>
                <mat-error class="text-danger" *ngIf="this.customerForm.get('customer_taxid').value !== null && 
                    this.customerForm.get('customer_taxid').value !== '' && isUserNational()">

                    {{'Tax number exists'|translate}}

                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>{{'customer_postcode'|translate}} </mat-label>
                <input matInput type="number" formControlName="customer_postcode" id="customer_postcode">


            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <button type="button" (click)="Addcustmer()" [disabled]="customerForm.invalid ||isUserNameExist() "
        class="btn btn-primary">  {{ getSaveButton()}}
    </button>
    <div *ngIf="isLoading" style="text-align: center;">
        <div class="spinner-grow text-muted"></div>
    </div>
</form>