<!-- <div class="alert alert-primary" role="alert" [dir]=" 'dir'|translate">
    <strong>{{'Specific product report list'|translate}} </strong>
  </div> -->

<!-- <div class="hosptialss" [dir]="'dir'|translate" id="cont" style="text-align: right">
    <div>
      <nav class="navbar input-group mb-3">
            <span class=" input-group-text" style="height:40px ;"> <i class="fa fa-search fs-5 text-primary"></i></span>
            <input class="form-control " type="text" name="product_aname" placeholder="ابحث هنا " id=""
                [(ngModel)]="product_aname" (ngModelChange)="sertch()">
        </nav> -->
        <!-- <table     class="table table-hover table-striped  rounded mb-3  table-bordered">
            <thead>
                <tr class="bg-dark text-warning">
                    <th> {{'product name'|translate}} </th>
                    <th> {{'Amount'|translate}}</th>
                    <th>{{'customer name'|translate}}</th>
                    <th>{{'history'|translate}}</th>
                   
                </tr>
            </thead> -->
            <!-- <tbody>
                <tr *ngFor="let item of storagdata">
                    <td>
                        <div *ngFor="let products of item.products">
                            <h6>{{products.product_data.product_aname}}</h6>
                        </div>
                    </td>
                    <td>
                      

                            <h6>{{item.total_amount}}</h6>
                  
                    </td> -->
                    <!-- <td>
                        {{item.customer.customer_aname}}
                    </td>
                    <td>
                        {{item.invoice_date}}
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div> --> 

<!-- Modal -->

<!-- <div *ngIf="productss.length<1">
    <div class="alert alert-primary d-flex justify-content-center">
        <strong class="spinner-border"> </strong>
         <button class="btn" (click)="getInvice()">تحديث القائمة</button> -->
    <!-- </div> -->
<!-- </div> --> 



<div class="card-header" style="text-align: right;">
    <button type="button" class="btn btn-success mb-3 rounded-pill shadow-sm" >
      +</button>
  
  </div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource1" matSort>
  
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> product_aname </th>
        <td mat-cell *matCellDef="let row"> {{row.products}}</td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> total_amount </th>
        <td mat-cell *matCellDef="let row"> {{row.total_amount}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="customer_aname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> customer_aname </th>
        <td mat-cell *matCellDef="let row"> {{row.customer.customer_aname}} </td>
      </ng-container>
   
      <ng-container matColumnDef="invoice_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> invoice_date </th>
        <td mat-cell *matCellDef="let row"> {{row.invoice_date}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  

  