
<mat-toolbar style="margin-top: 5%;" color="primary">{{getTitle()}}</mat-toolbar>
<app-display-errors [errors]="errors"></app-display-errors>
<form action="" [formGroup]="productForm" (ngSubmit)="Addproduct()" >
  <mat-grid-list cols="2" rowHeight="130px" class="quot-service-grid">
      <mat-grid-tile>
          <mat-form-field appearance="outline" class="form-field" >
              <mat-label>{{'product name(Ar)'|translate}} </mat-label>
              <input matInput type="text " autofocus    dir="rtl"  
              formControlName="productsnameAr" id="productsnameAr" requireInput
              [ngClass]="{'is-invalid': this.productForm.get('productsnameAr').invalid && this.productForm.get('productsnameAr').touched}">
              <mat-error class="text-danger"  *ngIf="this.productForm.get('productsnameAr').invalid && this.productForm.get('productsnameAr').touched
              && this.productForm.get('productsnameAr').value===''">

                   {{'Item name is required'|translate}}</mat-error>
              <md-error class="text-danger" *ngIf="this.productForm.get('productsnameAr').value !== null && 
              this.productForm.get('productsnameAr').value !== '' && isproductsNameExist()">

               {{'The name of the variety already exists.'|translate}}

              </md-error>
          </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field appearance="outline" >
              <mat-label> {{'Name En'|translate}}</mat-label>
              <input matInput type="text "   maxlength="20" dir="ltr" 
              formControlName="productsnameEn" id="productsnameEn"
              [ngClass]="{'is-invalid': this.productForm.get('productsnameEn').invalid && this.productForm.get('productsnameEn').touched}">
              <mat-error class="text-danger" style="margin-right: 60px; width:180px " *ngIf="this.productForm.get('productsnameEn').invalid && this.productForm.get('productsnameEn').touched
              && this.productForm.get('productsnameEn').value===''">
                       {{'Item name is required'|translate}}</mat-error>


          </mat-form-field>
      </mat-grid-tile>

     


  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
          <mat-form-field appearance="outline" >
              <mat-label>{{'price'|translate}}</mat-label>
              <input matInput  type="number"  formControlName="price"  id="price"  
              [ngClass]="{'is-invalid': this.productForm.get('price').invalid && this.productForm.get('price').touched}">
              <mat-error class="text-danger" *ngIf="!this.productForm.get('price').valid && this.productForm.get('price').touched  && this.productForm.get('price').value===''">

              {{'Item price is required'|translate}}</mat-error>
          </mat-form-field>
      </mat-grid-tile>

      



      
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px">

      <mat-grid-tile>
        
        <input  type="file" width="200px" height="300px" formControlName="Images" id="Images"
        (change)="HandleFiles($event)" accept="Image/*" class="custom-file-input">
        <mat-error *ngIf="!this.productForm.get('Images').valid && this.productForm.get('Images').touched && img === null"></mat-error>
        <label class="custom-file-label upload-lbl" for="Images">
          <span *ngIf="img !== null ">{{img.name}}</span>
          <span *ngIf="img === null " style="width: 100px;">اختر صورة</span>
        </label>
          
      </mat-grid-tile>
     
     
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px" >
    <mat-grid-tile >
     <div class="center" >
      <img id="image" style="max-height: 100px; max-width:100x" 
      src="/assets/images/logo.png">
     </div>
    </mat-grid-tile>
    <mat-grid-tile >
      <div class="center" >
     
      </div>
     </mat-grid-tile>
     <mat-grid-tile >
      <div class="center" >
       
      </div>
     </mat-grid-tile>
  </mat-grid-list>
 <button type="button"     [disabled]="productForm.invalid  ||isproductsNameExist()"
 class="btn btn-primary" (click)="Addproduct()">{{"btnTitle"|  translate}}</button>
  
  <div *ngIf="isloading" style="text-align: center;">
      <div class="spinner-grow text-muted"></div>
  </div>
</form>


  


