<div class="container  ar mt-2 ">
  <div class="row top1">
    <div class="col-lg-6 mx-auto">
      <div class="show1 p-5">
        <div class="tab-content">
          <div class="tab-pane fade show active ">
            <div class="alert alert1 text-center alert-secondary1 alert-secondary mb-4 ">
              <strong>{{'Add a new product'|translate}}</strong>
            </div>
            <!-- <div class="alert alert-success" role="alert" *ngIf="message">
              <strong>{{message}}</strong>
            </div> -->
            <hr class="mb-6">
           

            <div class="hospital-container">
              <div class="hospital">
                <form [formGroup]="productForm" (ngSubmit)="Addproduct()">

                  <div class="form-row  form-group">
                    <div class="col-md-4 mb-3 form-group ">
                      <div class="col-lg-12">
                        <label> {{'product name(Ar)'|translate}} </label>
                        <span class="text-danger">*</span>
                      </div>
                      <input type="text " class="form-control classm" maxlength="20" dir="rtl" autofocus required
                        formControlName="productsnameAr" id="productsnameAr"
                        [ngClass]="{'is-invalid': this.productForm.get('productsnameAr').invalid && this.productForm.get('productsnameAr').touched}">

                      <div class="text-danger" style=" width:190px " *ngIf="this.productForm.get('productsnameAr').invalid && this.productForm.get('productsnameAr').touched
                 && this.productForm.get('productsnameAr').value===''">

                        {{'Item name is required'|translate}}
                      </div>
                      <div class="text-danger" *ngIf="this.productForm.get('productsnameAr').value !== null && 
                  this.productForm.get('productsnameAr').value !== '' && isproductsNameExist()">

                        {{'The name of the variety already exists.'|translate}}
                      </div>
                    </div>
                    <div class="col-md-4 mb-3 form-group ">
                      <div class="col-lg-12 lagstyle">
                        <label> {{'Name En'|translate}} </label>
                        <span class="text-danger">*</span>
                      </div>

                      <input type="text " class="form-control classm1" required maxlength="20"   dir="ltr"
                        formControlName="productsnameEn" id="productsnameEn"
                        [ngClass]="{'is-invalid': this.productForm.get('productsnameEn').invalid && this.productForm.get('productsnameEn').touched}">

                      <div class="text-danger" style="margin-right: 60px; width:180px " *ngIf="this.productForm.get('productsnameEn').invalid && this.productForm.get('productsnameEn').touched
               && this.productForm.get('productsnameEn').value===''">
                        {{'Item name is required'|translate}}
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12">
                      <label>{{'price'|translate}} </label>
                      <span class="text-danger">*</span>
                    </div>
                    <!-- <label for="UserName" style="font-weight: bold;">البريد الالكتروني :</label> -->
                    <input type="number" formControlName="price" class="form-control" id="price"
                      [ngClass]="{'is-invalid': this.productForm.get('price').invalid && this.productForm.get('price').touched}">

                    <div class="text-danger"
                      *ngIf="!this.productForm.get('price').valid && this.productForm.get('price').touched  && this.productForm.get('price').value===''">

                      {{'Item price is required'|translate}}
                    </div>

                  </div>

                  <div>
                    <div class="form-group">
                      <label for="Image" style="font-weight: bold;"> {{'photo'|translate}} </label>
                      <div class="input-group mb-3">
                        <div class="custom-file">
                          <input type="file" width="200px" height="300px"  formControlName="Images" id="Images" (change)="HandleFiles($event)"
                            accept="Image/*" class="custom-file-input">
                          <label class="custom-file-label upload-lbl" for="Images">
                            <span *ngIf="img !== null ">{{img.name}}</span>
                            <span *ngIf="img === null ">اختر صورة</span>
                          </label>
                        </div>
                        <div class="text-danger"
                          *ngIf="!this.productForm.get('Images').valid && this.productForm.get('Images').touched && img === null">
                          {{messageValidate.Images.required}}
                        </div>
                      </div>

                    </div>
                    <div class="col-md-4">

                      <img id="image"  style="max-height: 100px; max-width:100x" class="img-fluid rounded border bg-light" src="/assets/image/logo.png">
                    </div>
                  </div>

                  <button type="submit" style="text-align:center ;"
                    class=" subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-4"
                    [disabled]="productForm.invalid  ||isproductsNameExist()">
                    {{btnTitle}}

                
                  </button>
                  <div *ngIf="isloading" style="text-align: center;">
                    <div class="spinner-grow text-muted"></div>
                  </div>
              
                  

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>