<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" style="height: 910px;">
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar color="primary" class="topbar telative" [dir]="this.currentLanguage === 'ar' ? 'rtl' : 'ltr'">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <p class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo.png" alt="homepage" width="60px" class="light-logo">
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="text-logo-icon" fxShow="false" fxShow.gt-xs>
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                    <h6 style="color: #fcf8f8;"> {{'ALWASEET WEB'|translate}}</h6>

                    <!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"> -->
                </span>
            </p>
        </div>
        <!-- ============================================================== -->
        <!-- sidebar toggle -->
        <!-- ============================================================== -->

        <app-header class="d-flex align-items-center ml-auto"></app-header>
        <button mat-icon-button (click)="snav.toggle()" id="menu" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->

    </mat-toolbar>
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #snav id="snav" (click)="toggleSidenav()" style="margin-top: 63px;color: black;" position="start"
        class="dark-sidebar pl-xs md-sidenav"  [mode]="mobileQuery.matches ? 'side' : 'over'"
        [opened]="mobileQuery.matches">

        <app-sidebar></app-sidebar>


    </mat-sidenav>
    <mat-sidenav-container class="example-sidenav-container " [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">

            <div class="example-sidenav-content">

                <body [style]="styleMarginBody">

                    <div class="container" style="height: 1000px;">
                        <div style="margin-top: 30px;">
                            <span (click)="backdashboard()" style="cursor: pointer;">
                                <!-- <mat-icon>arrow_forward</mat-icon> -->
                              {{'Control Panel'|translate}} 
                        </span>
                        </div>
                        <router-outlet><app-spinner></app-spinner></router-outlet>
                    </div>

                </body>
            </div>

        </mat-sidenav-content>
        <!-- <mat-sidenav-content class="page-wrapper">
                 
                <div class="page-content">
                   
                        <router-outlet><app-spinner></app-spinner></router-outlet>
                    
                </div>    
               
        </mat-sidenav-content> -->
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>

