
<mat-toolbar style="margin-top: 5%;"  color="primary">{{title}}</mat-toolbar>
<form action="" [formGroup]="productForm" (ngSubmit)="Addproduct()">
  <mat-grid-list cols="2" rowHeight="130px" class="quot-service-grid">
      <mat-grid-tile>
          <mat-form-field appearance="outline" class="ml-2">
              <mat-label>{{'product name(Ar)'|translate}} </mat-label>
              <input matInput type="text "  maxlength="20" dir="rtl" autofocus required
              formControlName="productsnameAr" id="productsnameAr"
              [ngClass]="{'is-invalid': this.productForm.get('productsnameAr').invalid && this.productForm.get('productsnameAr').touched}">
              <md-error class="text-danger" style=" width:190px " *ngIf="this.productForm.get('productsnameAr').invalid && this.productForm.get('productsnameAr').touched
              && this.productForm.get('productsnameAr').value===''">
                     <h6>{{'Item name is required'|translate}} </h6></md-error>
             
          </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field appearance="outline" class=" mr-2">
              <mat-label> {{'Name En'|translate}}</mat-label>
              <input matInput type="text "  required maxlength="20" dir="ltr"
              formControlName="productsnameEn" id="productsnameEn"
              [ngClass]="{'is-invalid': this.productForm.get('productsnameEn').invalid && this.productForm.get('productsnameEn').touched}">
              <md-error class="text-danger" style="margin-right: 60px; width:180px " *ngIf="this.productForm.get('productsnameEn').invalid && this.productForm.get('productsnameEn').touched
              && this.productForm.get('productsnameEn').value===''">
                       {{'Item name is required'|translate}}</md-error>


          </mat-form-field>
      </mat-grid-tile>

     


  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
          <mat-form-field appearance="outline" >
              <mat-label>{{'price'|translate}}</mat-label>
              <input matInput mtype="number"  formControlName="price"  id="price" 
                  
              [ngClass]="{'is-invalid': this.productForm.get('price').invalid && this.productForm.get('price').touched}">
              <md-error class="text-danger"
              *ngIf="!this.productForm.get('price').valid && this.productForm.get('price').touched  && this.productForm.get('price').value===''">

              {{'Item price is required'|translate}}</md-error>
          </mat-form-field>
      </mat-grid-tile>

      



      
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px">

      <mat-grid-tile>
        
        <input  type="file" width="200px" height="300px" formControlName="Images" id="Images"
        (change)="HandleFiles($event)" accept="Image/*" class="custom-file-input">
        <mat-error *ngIf="!this.productForm.get('Images').valid && this.productForm.get('Images').touched && img === null"></mat-error>
        <label class="custom-file-label upload-lbl" for="Images">
          <span *ngIf="img !== null ">{{img.name}}</span>
          <span *ngIf="img === null ">اختر صورة</span>
        </label>
          
      </mat-grid-tile>
     
     
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="100px" >
    <mat-grid-tile >
     <div class="center" >
      <img id="image" style="max-height: 100px; max-width:100x" 
      src="/assets/images/logo.png">
     </div>
    </mat-grid-tile>
    <mat-grid-tile >
      <div class="center" >
     
      </div>
     </mat-grid-tile>
     <mat-grid-tile >
      <div class="center" >
       
      </div>
     </mat-grid-tile>
  </mat-grid-list>
 <button type="button"     [disabled]="productForm.invalid "
 class="btn btn-primary" (click)="Addproduct()">{{title}}</button>
  
  <div *ngIf="isloading" style="text-align: center;">
      <div class="spinner-grow text-muted"></div>
  </div>
</form>

