.tap{
    margin-top: 10%;
}
.show1{
    background-color: rgb(253, 253, 255);
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
form{
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
  }
@media (max-width: 412px) {
    .hist {
    display: none;
    }
    #input1 {
        margin-right: -65px;
        
    }
    #input1>input{
        width: 100px;
    }

}

@media screen and (min-width:601px) and (min-width:800px){
    .classm{
     
        width:220px;
       
    }
    .classm1{
     
        width:204px;
        margin-right: 90px;
    }
}

.form-control{
    width: 150px;
    border-radius: 8px;
    padding: 5px;
}