
    @media (max-width: 412px) {
        .hist {
        display: none;
      
        }
        #tb1{
            margin-top: -24px;
          }
          
          #cont{
            margin-top: -14px;
          }
    }