      
       body
       {
           overflow:auto;
           background-color: #1b1b1b;
           padding-top: 40px;
       }
       #fullscreen_bg{
        margin-top: 40px;
       }
       .form-signin {
           max-width: 280px;
           padding: 15px;
           margin:200px;
           margin-top:80px;
           margin-left: 130px;
         }
       
       .input-group-addon
       {
           background-color: rgb(50, 118, 177);
           border-color: rgb(40, 94, 142);
           color: rgb(255, 255, 255);
       }
       
       .form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
       .fullscreen_bg {
           position: fixed;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
           background-size: cover;
           background-position: 50% 50%;
           background-image: url('http://i.imgur.com/aFs5QmP.jpg');
           background-repeat:repeat;
         }
         .rtt{
            text-align: right;
            direction: rtl;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: blue;
         }
         table {
           width: 100%;
           display:block;
       }
       thead {
           display: inline-table;
           width: 95%;
           height: 30px;
       }
       tbody {
   
           height: 150px;
           display: inline-block;
           width: 95%;
           overflow: auto;
       }
          #tap1{
            width: 100%;
            margin-right: 7px;
          
          }   
    
          @media (min-width: 360px) and  (max-width: 450px) {
            .cotainer2 {
                margin-right: 5px;
               
            }
            .toplist{
              margin-top: -60px;
            }
            .cotainer16{
              margin-right: -43px;
            }
            .nav2{
              margin-right: -80px;
          }
          .nav1{
              margin-right: -1px;
          }
          .btnr{
            margin-right: -20px;
            margin-top: 10px;
          
          }
            .cotainer5{
              margin-right: 15px;
            }
            .navbars{
              margin-right: 10px;
            }
            .cotainer1{
              margin-right: -50px;
             
            }
            .pre{
              margin-right: 15px;
            }
            .cotainer14{
              margin-right: -40px;
            }
            .cotainer3{
         
              margin-right: -40px;
            }
          .toplist1{
            margin-top: -80px;
          }
          .cotainer2 {
            margin-right: 5px;
           
        }
          }
     
          @media (max-width: 375px) {
            .cotainer2 {
                margin-right: 5px;
               
            }
            .nav2{
              margin-right: -200px;
          }
          .nav1{
              margin-right: -30px;
      
          }
          .btnr{
            margin-right: -20px;
          
          }
            .cotainer5{
              margin-right: 15px;
            }
            .navbars{
              margin-right: 10px;
            }
            .cotainer1{
              margin-right: -50px;
             
            }
            .pre{
              margin-right: 15px;
            }
            .cotainer14{
              margin-right: -40px;
            }
            .cotainer3{
              margin-right: -40px;
            }
          .toplist1{
            margin-top: -80px;
          }
          .cotainer2 {
            margin-right: 5px;
           
        }
          }
     
      
          /* Style The Dropdown Button */
          .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }
        
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {background-color: #f1f1f1}
          
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
          /* Change the background color of the dropdown button when the dropdown content is shown */
          .dropdown:hover .dropbtn {
            background-color: #3e8e41;
          }
        

          /* jefgbkdfgbkdfbgkdfbgdf */


          @media screen and (min-width:601px) and (min-width:800px){
            .pre{
              margin-right: 300px;
            }
            .nav2{
              margin-right: 320px;
          }
          .nav1{
              margin-right: 440px;
          }
            .btn2{
                display: none;
            
            }
            .btnbg{
              margin-right:402px ;
            }
           
            }
            .toplist1{
              margin-top: -60px;
            }
            @media screen and (min-width:600px){
            
              .btn2{
                display: none;
              }
            }

            @media (max-width: 412px) {
 
            
              .navbars{
                margin-right: 60px;
               
              
              }
            
              .nav2{
                margin-right: -150px;
              }
              .btn2{
                margin-right: -4px;
          
              }
              .btn1{
                margin-right: -38px;
              }
            
            }
            #inp1{
              cursor: pointer;
            }

            .point{
              cursor: pointer;
            }
            .point:hover{
              background-color: rgb(183, 216, 216);
              text-decoration: none;
            }
            .dropdown-menu{
             border: 2px solid #3e8e41;
            }

            a{
       
              text-decoration: none;
          
            }
            @media print{
              #pr,
              #pr {
                  display: none;
              }
              #btn1,#btn1{
                  display: none;
              }
          #btn2,#btn2{
              display: none;
          }
          }
          #btn1:focus{
            background-color: #4CAF50;
          }
          #btn1:active{
            background-color: #4CAF50;
          }
          #btn2:focus{
            background-color: #4CAF50;
          }
          #btn2:active{
            background-color: #4CAF50;
          }